<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.depaul.cdm.madl.bootstrap.Application">
         </run>
      </application>
   </extension>
 
 <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.depaul.cdm.madl.bootstrap.application"
            name="Madl Editor">
         <property
               name="windowImages"
               value="icons/dart_16_16.gif,icons/dart_32_32.gif,icons/dart_48_48.gif,icons/dart_64_64.gif,icons/dart_128_128.gif">
         </property>
         <property
               name="aboutText"
               value="An awesome editor for Madl programming.">
         </property>
         <property
               name="aboutImage"
               value="icons/dart_116_116.gif">
         </property>
         <property
               name="appName"
               value="Madl Editor">
         </property>
         <property
               name="startupProgressRect"
               value="100,350,400,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="9F9F9F">
         </property>
         <property
               name="startupMessageRect"
               value="100,330,400,15">
         </property>
      </product>
   </extension>
</plugin>
