AppBuilderSource/classes
AppBuilderDevTool/bin
.DS_Store
Madl/editor/tools/plugins/edu.depaul.cdm.madl.eclipse.ui/bin/*
Madl/editor/tools/plugins/edu.depaul.cdm.madl.tools.ui/bin/*
Madl/editor/tools/plugins/edu.depaul.cdm.madl.MADLFileWizard/bin/*
Madl/editor/tools/plugins/edu.depaul.cdm.madl.launcher/bin/*
Madl/editor/tools/plugins/preferences/bin/*
