body {
    background:  #DDDDEE; 
}

.SubTopic {
        font-weight: bold; font-size: 10pt;
        padding-top: 1.5em; padding-bottom: .5em;
        }

.MiniTopic {
        font-weight: bold;
        padding-top: 1em; padding-bottom: 0em;
        }

div.screen {
    margin-left: 20px;
	display: inline;
	text-align: left;
}

.SBorder img {
	text-align: left;
	display: inline;
	margin: 1px;
}

.TOC {
        text-align: center;
        font: 8pt Verdana, sans-serif;
        text-transform: uppercase;
        background-color: #F8F8F8;
        border-width: 1px; border-style: solid; border-color: #C0C0C0;
        margin-bottom: 1.5em;
        padding: 2px 0;
        -moz-border-radius: 14px;
        }

.TOC a {
        margin: 0 0.75ex; }

.TOC a:link,
.TOC a:hover,
.TOC a:visited {
        color: #404040 }

