<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.depaul.cdm.madl.tools.ui.internal.text.editor.MadlEditor"
            contributorClass="edu.depaul.cdm.madl.tools.multipage.MadlEditorContributor"
            extensions="madl_old"
            icon="icons/sample.gif"
            id="edu.depaul.cdm.cpdt.editor.multipage.MadlEditor"
            name="Madl Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="New madl file Wizards"
            id="edu.depaul.cdm.cpdt.editor">
      </category>
      <wizard
            name="Multi-page Madl Editor file"
            icon="icons/sample.gif"
            category="edu.depaul.cdm.cpdt.editor"
            class="edu.depaul.cdm.madl.editor.wizards.MadlNewWizard"
            id="edu.depaul.cdm.cpdt.editor.wizards.MadlNewWizard">
      </wizard>
   </extension>
   <extension
         id="edu.depaul.cdm.madl.editor.ui.text.editor.MadlDocumentSetupParticipant"
	     name="MadlDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="edu.depaul.cdm.madl.tools.ui.internal.text.editor.MadlDocumentSetupParticipant"
            extensions="madl">
      </participant>
   </extension>
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="edu.depaul.cdm.madl.tools.ui.internal.text.MadlUIPreferenceInitializer"/>
    </extension>
</plugin>
