<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="edu.depaul.cdm.madl.launch.MadlLaunch"
            id="edu.depaul.cdm.madl.launcher.launchConfigurationType.MadlLaunch"
            modes="run"
            name="Madl Applicatoin"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="edu.depaul.cdm.madl.launcher.launchConfigurationType.MadlLaunch"
            icon="icons/launch.png"
            id="edu.depaul.cdm.madl.launcher.launchConfigurationTypeImage.launch">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="edu.depaul.cdm.madl.tabGroup.TabGroup"
            id="edu.depaul.cdm.madl.launcher.launchConfigurationTabGroup.MadlLaunch"
            type="edu.depaul.cdm.madl.launcher.launchConfigurationType.MadlLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="RunAsButton"
            id="edu.depaul.cdm.madl.launcher.category"
            name="RunAs">
      </category>
      <command
            categoryId="edu.depaul.cdm.madl.launcher.category"
            id="edu.depaul.cdm.madl.launcher.command.run"
            name="runMadl">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:run?after=additions">
         <menu
               id="com.qualityeclipse.favorites.menus.runMenu"
               label="RunAs"
               mnemonic="v">
            <command
                  commandId="edu.depaul.cdm.madl.launcher.command.run"
                  icon="icons/green.png"
                  id="edu.depaul.cdm.madl.launcher.menu.addrunas"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.depaul.cdm.madl.launcher.toolbar.runas">
            <command
                  commandId="edu.depaul.cdm.madl.launcher.command.run"
                  icon="icons/flow.png"
                  id="edu.depaul.cdm.madl.launcher.toolbar.runas"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.depaul.cdm.madl.runAs.runAsFunc"
            commandId="edu.depaul.cdm.madl.launcher.command.run">
      </handler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="edu.depaul.cdm.madl.launchShortcut.LaunchShortcut"
            icon="icons/launch.png"
            id="edu.depaul.cdm.madl.launcher.shortcut"
            label="MADL"
            modes="run">
         <contextualLaunch>
            <contextLabel
                  label="MADL Application"
                  mode="run">
            </contextLabel>
            <enablement></enablement></contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="edu.depaul.cdm.madl.launcher.PersistableSourceLocator1"
            id="edu.depaul.cdm.madl.launcher.sourceLocator1"
            name="source">
      </sourceLocator>
   </extension>

</plugin>
