<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Madl language Editor"
            extensions="madl"
            icon="icons/sample.gif"
            contributorClass="edu.depaul.cdm.cpdt.editor.multipage.MadlEditorContributor"
            class="edu.depaul.cdm.cpdt.editor.multipage.MadlEditor"
            id="edu.depaul.cdm.cpdt.editor.multipage.MadlEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="New madl file Wizards"
            id="edu.depaul.cdm.cpdt.editor">
      </category>
      <wizard
            name="Multi-page Madl Editor file"
            icon="icons/sample.gif"
            category="edu.depaul.cdm.cpdt.editor"
            class="edu.depaul.cdm.cpdt.editor.wizards.MadlNewWizard"
            id="edu.depaul.cdm.cpdt.editor.wizards.MadlNewWizard">
      </wizard>
   </extension>

</plugin>
