/* Light yellowish background for articles */
body {
    background: #DDDDEE; 
}

body.toc {
    background: #DDDDEE; 
}

/* Links are dark blue when unvisited,
   darker/grayer blue when visited,
   and white when the mouse is over them (with blue background.) */
A:link {
   color: #003399;
}

A:visited {
   color: #222255;
}

A:hover {
   color: white ;
   background: #3366CC ;
}

A:active {
   color: #000099 ;
}

A.image:hover {
   background: transparent ;
   color: black ;
}

/* */


a {
   font-weight: bold;
}

div.back, div#back {
        padding-right: 10px;
        margin-right: 0px;
	margin-top: 1ex;
	text-align: right;
        font-size: smaller;
}

div#booktitle {
	text-align:right;
}

div#toc {
	position: absolute; 
	left: 1%;
	top: 1em;
	font-size: smaller;
	width: 15%;
	padding-bottom: 1em;
	border: thin groove;
	padding-left: 2%;
	padding-right: 2%;
}

div#toc div.tocchapter {
	font-weight: bold;
	font-size: larger;
}

div#toc > h1 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: larger;
	text-decoration: underline;
}

div#body {
	position: absolute;
	left:22% ;
	top: 2em;
	width: 75%;
}

/* In the index frame, don't underline links */
body.toc a {
    text-decoration: none;
}

/* 
   Because HTML doesn't like to have tables in the middle of <p> tags,
   I've got my <bridge:p> tags translated to <div class="paragraph" tags.
*/
div.paragraph {
    margin-top: 1em;
}

table.datatable  {
    margin-left: auto ;
    margin-right: auto 
}

/* The "body" division is the main text of the article, seperate
from the "previous and next" bars and the signature/copyright. */
div.body {
    clear: left;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1em;
}


/* The signature in the contents window */
div.tocsignature {
    border-top: 1px solid;
    font-size: smaller;
    padding-top: 1ex;
    text-align: right;
}

/* The signature in an article */
div.signature {
   padding-top: 1em;
   padding-bottom: 1em;
   border-top: thin groove;
   text-align: center;
   font-size: smaller;
}

/* The "body" part of the contents frame */
div.tocindex {
    border-top: thin groove;
    font-size: smaller;
}

div.tocsection {
    margin-top: 1em;
    margin-bottom: 2em;
}

/* A single contents entry - indented */
div.tocentry {
    margin-left: 2em;
    text-indent: -1em;
    margin-bottom: 0.2em;
}

div.summary {
    margin-left: 40px;
}

div.code {
    margin-left: 20px;
    font-size: 90%;
    font-weight: lighter;
    position: relative;
}
div.screen {
    margin-left: 20px;
}

span.tag {
   font-weight: bold;
   color: red;
}

span.warning {
   font-weight: bold;
   color: red;
}

span.normal {
   font-weight: bold;
   color: green;
}

span.tocheader {
     float: left;
}

/* Make header info in diagrams smaller */
div.diagheader {
    width: 16ex;
    border: thin outset;
    padding-left: 1.5em;
    font-size: smaller;
    text-indent: -1em;
    vertical-align: top;
}

span.footnotetag { font-size: 80%; vertical-align: super; }

ul { margin-bottom: 0; }


