
a#edudepaulcdmmadlwelcome-introLink img { background-image : url(graphics/Eclipse01.jpg); }
a#edudepaulcdmmadlwelcome-introLink:hover img { background-image : url(graphics/Eclipse_Tips02.jpg); }

a#edudepaulcdmmadlwelcome-wizardLink img { background-image : url(graphics/sample.gif); }
a#edudepaulcdmmadlwelcome-wizardLink:hover img { background-image : url(graphics/sample_hov.gif); }

