<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="MADLFileWizard"
            name="Sample Wizards">
      </category>
      <wizard
            category="MADLFileWizard"
            class="madlfilewizard.wizards.SampleNewWizard"
            icon="icons/sample.gif"
            id="madlfilewizard.wizards.SampleNewWizard"
            name="MADLFile">
      </wizard>
   </extension>

</plugin>
